@page
@using L.Localization
@using L.Permissions
@using L.Settings
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.SettingManagement
@model L.Web.Pages.Setting.IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<LResource> L
@inject ISettingManager settingManager
@{
    ViewBag.Title = "系统设置";
    PageLayout.Content.MenuItemName = LPermissions.Settings.Default;
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">@(ViewBag.Title)</h5>
    </div>
    <div class="card-body px-20">
        <form method="post">
            <div class="row form-group mb-4">
                <label class="col-2 col-form-label">@L[LPermissions.Setting.SystemName]</label>
                <div class="col-9">
                    <input type="text" class="form-control" name="@(LSettings.SystemName)" value="@(await settingManager.GetOrNullGlobalAsync(LSettings.SystemName))" />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-2 col-form-label"></label>
                <div class="col-9">
                    <button class="btn btn-primary" type="submit">提交信息</button>
                </div>
            </div>
        </form>
    </div>
</div>